*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    background-color: white;
}
input{
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 5px;
    padding: 12px;
}
section.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}
button{
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
p#signup-link{
    padding: 10px 10px;
}
button:hover{
    cursor: pointer;
    background-color: #307232;
}